<div fxLayout="row" style="text-align: center" fxLayoutAlign="space-around center">
    <h1>Chat Bot ICI 9no</h1>
</div>
<div fxLayout="row" style="text-align: center" fxLayoutAlign="space-around center">
    <strong>Modo: {{training?'Entrenamiento':'Platica'}}</strong>
    <mat-slide-toggle (click)="changeTypeGame()" [(ngModel)]="training">
        Cambia
    </mat-slide-toggle>
</div>
<br><br>
<div class="inputs-container">

    <div class="boxes">
        <strong>bot: </strong>{{this.pushData.outText}}
        <form class="chat-area">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Bot entrenador" [(ngModel)]="this.temporalData.outText" name="outText"
                    [disabled]="disabledBot" (keyup)="keyup($event,false)" value="Sushi">
            </mat-form-field>
        </form>
    </div>
    <div class="boxes">
        <strong>person: </strong>{{this.pushData.inText}}
        <form class="chat-area">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Usuario intro" [(ngModel)]="this.temporalData.inText" name="inText"
                    [disabled]="disabledPerson" (keyup)="keyup($event,true)" value="Sushi">
            </mat-form-field>
        </form>
    </div>
</div>